<!-- phần headder + head, voi tittel -->
<%- include('../layouts/header',{title: 'Học sinh gương mẫu của thầy',linkCss:"/css/home.css"}) %>


<!-- body phần trang chủ -->
<p class="page" >TRANG CHỦ</p>
    
<p class="page-sub">Các em học sinh nổi bật</p>
<hr style="width:980px; max-width: 100%;"/>
<br>

<div class="homepage">
<% dataStundent.forEach(student=>{%>
    <div class="card">
        <a class="link-img" href="/student/<%=student.slug %>">
        <div class="card-img-top">
                <img src="http://img.youtube.com/vi/<%=student.img%>/hqdefault.jpg" alt=<%=student.name%>">
                
            </div>
        </a>
        <div class="card-body">
            <h3>Họ và tên: <%=student.name %></h3>
            <p>Nổi bật: <%=student.description %></p>

        </div>

    </div>   
<%}) %>
</div>

<!-- footter -->
<%- include('../layouts/footter') %>
